/* All style should go in this document. */

html{
    overflow-y: scroll;
}


/* Links */
a{
	color: rgba(255,255,255,.6);
    background-color: transparent;
}

a:hover {
    color: #fff;
    background-color: transparent;
}

a:focus {
    color: #fff;
    background-color: transparent;
}

hr {
    width: 60%;
}


@media (max-width: 480px) {
    hr {
       width: 100%;
       border-top: 1px solid #888;
    }
}



/*-----------------------------------

      fade sections

-------------------------------------*/

.fader { 
    display: none; 
}

#resume .dropfade {
    bottom: 50px;   
    opacity: 0;
}

#portfolio .dropfade{
    bottom: 30px;   
    opacity: 0;
}


/*-----------------------------------

      navbar-custom styling here

-------------------------------------*/


.navbar {
    -webkit-transition: all 0.25s ease-in-out, right 0.35s, left 0.35s;
    -moz-transition: all 0.25s ease-in-out, right 0.35s, left 0.35s;
    -o-transition: all 0.25s ease-in-out, right 0.35s, left 0.35s;
    transition: all 0.25s ease-in-out, right 0.35s, left 0.35s;


   /* -webkit-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; 
    -moz-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; 
    -o-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; 
    transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; */
}

.navbar-custom {
    padding: 0px 30px;
    background-color: #fff;
    text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 500;
    border-bottom: 1px solid rgba(180,180,180, .8);
}

.navbar-custom .navbar-brand {
    color: rgb(80,80,80);
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 0px;
    -webkit-transition: color 0.25s ease .1s;
    -moz-transition: color 0.25s ease .1s;
    -o-transition: color 0.25s ease .1s;
    transition: color 0.25s ease .1s;
    
}

.navbar-nav > li > a {
    color: rgb(150,150,150);
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
    
}

.nav > li > a:hover {
    color: rgb(80,80,80);
    background-color: transparent ;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.navbar-nav > li > a:focus{
    color: rgb(180,180,180);
    
}

.navbar-nav > li > .active {
    color: rgb(80,80,80);
}

@media (max-width: 480px) {
    .navbar-custom{
        padding: 0px 10px 0px 20px;
    }
}

/*-----------------------------------

    navbar-transparent styling here

-------------------------------------*/

.navbar-transparent {
    padding: 15px 30px 7px 30px;
    background: transparent;
    border-bottom: 1px solid rgba(180,180,180, 0);
}

.navbar-transparent .navbar-brand {
    color: rgba(255,255,255,.6);
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 100;
    padding-left: 0px;
}

.navbar-transparent .navbar-nav > li > a {
    color: rgba(255,255,255,.6);
    background-color:transparent;
}

.navbar-transparent .navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.navbar-transparent .navbar-nav > li > a:focus{
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}

.navbar-transparent .navbar-nav > li > .active{
    background-color: transparent;
    text-decoration:none;
    color: #fff;
}

@media (max-width: 480px) {
    .navbar-transparent{
        padding: 5px 10px 10px 20px;
    }
}

/*--------------------------

       icon bar styling 

 ---------------------------*/

.navbar-toggle, .navbar-toggle-transparent {
    margin-right: 0px;
}

.navbar-toggle .icon-bar {
    background-color: rgb(180,180,180);
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}

.navbar-toggle:hover .icon-bar {
    background-color: black;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    
}

.navbar-toggle-transparent .icon-bar {
    background-color: rgba(255,255,255,.6);
    -webkit-transition: background-color 0.25s ease;
    -moz-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;

}

.navbar-toggle-transparent:hover .icon-bar {
    background-color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}


/*----------------------------------

    navmenu-custom styling here 

 ----------------------------------*/

.navmenu li > a:hover, .navmenu li > a:focus {
    color: #F8F8F8;
    text-decoration: none;
    background-color: transparent;
}

.navbar > li > .active {
    color: #fff;
}

.navmenu{
    color: rgba(255,255,255,.8);
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 500;
    border-radius:0;
    width: 200px;
    border-style: none;
}

.navmenu-custom {
    background-color: rgb(35, 35, 35)
}

#push-menu{
    padding: 20px 30px 30px 30px;
}


/*--------------------------------

    jumbotron styling here 

---------------------------------*/

#jumbo-inset {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(230,230,230);
}

.jumbotron{
    background: url('../assets/jumbo.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 70px;
}

.jumbotron p{
    margin-top: 25px;
    margin-bottom: 25px
}


#jumbo-lead{
    color: rgba(255,255,255,.8);
    letter-spacing: 6px;
    font-size: 2rem;
    font-family:trebuchet;
    text-transform: uppercase;
    
}

#jumbo-hero{
    color: #FFF;
    font-size: 7.2rem;
    font-weight: 600;
    letter-spacing:6px;
    line-height:80px
}

#jumbo-follow{
    text-transform: uppercase;
    font-weight :500;
    font-size: 14px;
    letter-spacing:6px;
    line-height: 50px;
    margin-top: 30px;
}


#jumbo-link {
    color: rgba(255,255,255,.8);
    border: 2px solid white;
    padding: 13px 10px 13px 15px;
    letter-spacing: 4px;
    margin-right: 4px;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    -moz-transition: background 0.2s ease, color 0.2s ease;
    -o-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}

#jumbo-link:hover {
    background-color: white;
    border: 2px solid white;
    padding: 13px 10px 13px 15px;
    letter-spacing: 4px;
    margin-right: 4px;
    color: black;
    text-decoration: none;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    -moz-transition: background 0.2s ease, color 0.2s ease;
    -o-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}

@media (max-width: 480px) {
    #jumbo-hero{
        font-size:4.8rem;
        line-height: 60px;
    }
    .jumbotron{
        padding: 50px 0 0px 0;
    }
}


/*--------------------------------

    content here

---------------------------------*/

.block{
    padding-bottom: 30px;
}


.title {
    font-family: garamond;
    font-size: 3rem;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.subtitle {
    font-size: 2rem;
    color: gray;
    letter-spacing: 3px;
    text-align: center;
    padding: 30px 0;
    
}

@media (max-width: 480px) {
    .block {
        padding-bottom: 10px;
    }
    .title {
        padding: 20px 0;

    }
    .subtitle {
        padding: 0;
        letter-spacing: 2px;
    }
}



/*--------------------------------

    resume specific here

---------------------------------*/

#resume #icons div{
    padding: 20px 20px;
    
}

#resume #icons .subtitle {
    font-size:1.5rem;
}

#resume img{
    bottom: 0px;
    opacity: 100%;
    position: relative;
    -webkit-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    -moz-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    -o-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    transition: bottom 0.3s ease, opacity 0.2s ease-out;
  
}

#resume img:hover {
    bottom: 20px;
}

@media (max-width: 480px) {
    #resume #icons .subtitle{
        display: none;
    }
}

/*--------------------------------

    portfolio specific here

---------------------------------*/

#portfolio .project-item {
    margin-top: 0px;
    width:70%;
    margin-right: auto;
    margin-left:auto;
}

#portfolio .project-image{
    position: relative;
}


#portfolio img{
    overflow: hidden;
    position: relative;
    bottom: 0px;
    width: 100%;
    opacity: 100%;
    -webkit-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    -moz-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    -o-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    transition: bottom 0.3s ease, opacity 0.2s ease-out;
  
}

#portfolio .project-detail {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    padding: 20px;
    opacity: 0;
    z-index: 2;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

#portfolio .project-image:hover .project-detail {
    opacity: 1;
    bottom: 50%;
    -webkit-transform: all 0.5s;
    -moz-transform: all 0.5s;
    -p-transform: all 0.5s;
    transform: all 0.5s;
}
