/* All style should go in this document. */
body { 
	/* padding-top: 50px; */
}

/* Links */
a{
	color: rgba(255,255,255,.6);
    background-color: transparent;
}

a:hover {
    color: #fff;
    background-color: transparent;
}

a:focus {
    color: #fff;
    background-color: transparent;
}







 /* navbar-custom styling here*/
.navbar-custom {
	margin: 30px 40px 30px 40px;
    background-color: rgba(0,0,0,0.0);
    color: rgba(255,255,255,.8);
    text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 500;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:(255,255,255,.6);
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover {
	color: #fff;
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:focus{
    background-color: transparent;
    color: #fff;
}

.navbar-custom .navbar-nav > li > a:active {
    background-color: transparent;
    color: #fff;
}


.navbar-custom .navbar-brand {
    color:#eeeeee;
    font-family: tahoma;
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 0px;
}






/*-- icon bar styling */
.icon-bar {
	background-color: rgba(255,255,255,.6);
}
.navbar-custom .navbar-toggle:hover .icon-bar {
    background-color: white;
}
.navbar-toggle {
    margin-right: 0px;
}







/* navmenu-custom styling here */
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navmenu{
    color: rgba(255,255,255,.8);
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 500;
    border-radius:0;
    width: 200px;
    border-style: none;
}

.navmenu-custom {
background-color: rgb(35, 35, 35)
}

#push-menu{
    padding: 20px 30px 30px 30px;
}








/* jumbotron styling here */
#jumbo-inset {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(230,230,230);
}

.jumbotron{
    background: url('../jumbo.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 70px;
}

.jumbotron p{
    margin-top: 25px;
    margin-bottom: 25px
}

#jumbo-follow{
    text-transform: uppercase;
    font-weight :500;
    font-size: 14px;
    letter-spacing:6px;
    margin-top: 45px;
}

#jumbo-lead{
    color: rgba(255,255,255,.8);
    letter-spacing: 6px;
    font-size: 20px;
    font-family:trebuchet;
    text-transform: uppercase;
    
}

#jumbo-hero{
    color: #FFF;
    font-size: 72px;
    font-weight: 600;
    letter-spacing:6px;
    line-height:80px
}


#jumbo-link {
    color: rgba(255,255,255,.8);
    border: 2px solid white;
    padding: 13px 10px 13px 15px;
    letter-spacing: 4px;
    margin-right: 4px;
}

#jumbo-link:hover {
    background-color: white;
    border: 2px solid white;
    padding: 13px 10px 13px 15px;
    letter-spacing: 4px;
    margin-right: 4px;
    color: black;
    text-decoration: none
}


/* first-content styling here */

#first-content {
    padding-top: 70px;
}

#first-content #title {
    font-family: garamond;
    font-size: 32px;
    color: rgb(0, 0, 0, 0);
    letter-spacing: 3px;
    text-align: center;
    padding: 30px 30px 30px 30px;
}

#first-content #subtitle {
    font-size: 16px;
    color: gray;
    letter-spacing: 3px;
    text-align: center;
    padding: 0px 120px 50px 120px;
}