/* All style should go in this document. */




/* Links */
a{
	color: rgba(255,255,255,.6);
    background-color: transparent;
}

a:hover {
    color: #fff;
    background-color: transparent;
}

a:focus {
    color: #fff;
    background-color: transparent;
}


/*-----------------------------------

      fade sections

-------------------------------------*/

.fader { 
    display: none; 
}






/*-----------------------------------

      navbar-custom styling here

-------------------------------------*/


.navbar {
    -webkit-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; 
    -moz-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; 
    -o-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; 
    transition: background 0.25s ease-in-out, padding 0.25s ease-in-out, border-bottom 0.25s ease-in-out; 
}

.navbar-custom {
    padding: 0px 30px;
    background-color: #fff;
    text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 500;
    border-bottom: 1px solid rgba(180,180,180, .8);
}

.navbar-custom .navbar-brand {
    color: rgb(80,80,80);
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 0px;
    -webkit-transition: color 0.25s ease .1s;
    -moz-transition: color 0.25s ease .1s;
    -o-transition: color 0.25s ease .1s;
    transition: color 0.25s ease .1s;
    
}

.navbar-custom .navbar-nav > li > a {
    color: rgb(80,80,80);
    -webkit-transition: color 0.25s ease .1s;
    -moz-transition: color 0.25s ease .1s;
    -o-transition: color 0.25s ease .1s;
    transition: color 0.25s ease .1s;
    
}

.navbar-custom .navbar-nav > li > a:hover {
    color: rgb(80,80,80);
    text-decoration: underline;
    s
}

.navbar-custom .navbar-nav > li > a:focus{
    text-decoration: underline;
    color: rgb(80,80,80);
    
}

.navbar-custom .navbar-nav > li > a:active {
    text-decoration: underline;
    color: rgb(80,80,80);
}






/*-----------------------------------

    navbar-transparent styling here

-------------------------------------*/

.navbar-transparent {
    padding: 15px 30px 7px 30px;
    background: transparent;
    border-bottom: 1px solid rgba(180,180,180, 0);
}

.navbar-transparent .navbar-brand {
    color:#eeeeee;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
    padding-left: 0px;
}

.navbar-transparent .navbar-nav > li > a {
    color: rgba(255,255,255,.6);
    background-color:transparent;
}

.navbar-transparent .navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.navbar-transparent .navbar-nav > li > a:focus{
    background-color: transparent;
    text-decoration: none;
    color: #fff;
}

.navbar-transparent .navbar-nav > li > a:active {
    background-color: transparent;
    color: #fff;
}





/*--------------------------

       icon bar styling 

 ---------------------------*/

.navbar-toggle, .navbar-toggle-transparent {
    margin-right: 0px;
}

.navbar-toggle .icon-bar {
    background-color: rgb(80,80,80);
}

.navbar-toggle:hover .icon-bar {
    background-color: black;
}






.navbar-toggle-transparent .icon-bar {
    background-color: rgba(255,255,255,.6);
}

.navbar-toggle-transparent:hover .icon-bar {
    background-color: white;
}




/*----------------------------------

    navmenu-custom styling here 

 ----------------------------------*/



.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.navmenu{
    color: rgba(255,255,255,.8);
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 500;
    border-radius:0;
    width: 200px;
    border-style: none;
}

.navmenu-custom {
background-color: rgb(35, 35, 35)
}

#push-menu{
    padding: 20px 30px 30px 30px;
}


/*--------------------------------

    jumbotron styling here 

---------------------------------*/



#jumbo-inset {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: rgb(230,230,230);
}

.jumbotron{
    background: url('../jumbo.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 70px;
}

.jumbotron p{
    margin-top: 25px;
    margin-bottom: 25px
}


#jumbo-lead{
    color: rgba(255,255,255,.8);
    letter-spacing: 6px;
    font-size: 2rem;
    font-family:trebuchet;
    text-transform: uppercase;
    
}

#jumbo-hero{
    color: #FFF;
    font-size: 7.2rem;
    font-weight: 600;
    letter-spacing:6px;
    line-height:80px
}

#jumbo-follow{
    text-transform: uppercase;
    font-weight :500;
    font-size: 14px;
    letter-spacing:6px;
    line-height: 50px;
    margin-top: 45px;
}


#jumbo-link {
    color: rgba(255,255,255,.8);
    border: 2px solid white;
    padding: 13px 10px 13px 15px;
    letter-spacing: 4px;
    margin-right: 4px;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    -moz-transition: background 0.2s ease, color 0.2s ease;
    -o-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}

#jumbo-link:hover {
    background-color: white;
    border: 2px solid white;
    padding: 13px 10px 13px 15px;
    letter-spacing: 4px;
    margin-right: 4px;
    color: black;
    text-decoration: none;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    -moz-transition: background 0.2s ease, color 0.2s ease;
    -o-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
}


/*--------------------------------

    content here

---------------------------------*/


.block{
    padding-bottom: 60px;
}


.title {
    font-family: garamond;
    font-size: 3rem;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.subtitle {
    font-size: 2rem;
    color: gray;
    letter-spacing: 3px;
    text-align: center;
    padding: 30px 0;
    
}




/*--------------------------------

    resume specific here

---------------------------------*/
#resume #icons {

}

#resume #icons div{
    padding: 20px 20px;
    
}


#resume #icons .subtitle {
    font-size:1.5rem;

}


#resume img{
    bottom: 0px;
    opacity: 100%;
    position: relative;
    -webkit-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    -moz-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    -o-transition: bottom 0.3s ease, opacity 0.2s ease-out;
    transition: bottom 0.3s ease, opacity 0.2s ease-out;
    
}

#resume img:hover {
    bottom: 20px;
}

#resume .dropfade {
    position:relative ;
    bottom: 50px;   
    opacity: 0;
}